Importing Python Libraries

In [1]:
import pandas as pd
import numpy as np

Import Datasets

In [124]:
data1= pd.read_csv('/content/drive/MyDrive/Prep Insta Winter Internship/Week 8 (Capstone Project) - Fitbit Dataset/dailyCalories_merged.csv')
data2= pd.read_csv('/content/drive/MyDrive/Prep Insta Winter Internship/Week 8 (Capstone Project) - Fitbit Dataset/dailyIntensities_merged.csv')
data3= pd.read_csv('/content/drive/MyDrive/Prep Insta Winter Internship/Week 8 (Capstone Project) - Fitbit Dataset/dailySteps_merged.csv')
data4= pd.read_csv('/content/drive/MyDrive/Prep Insta Winter Internship/Week 8 (Capstone Project) - Fitbit Dataset/sleepDay_merged.csv')
data5= pd.read_csv('/content/drive/MyDrive/Prep Insta Winter Internship/Week 8 (Capstone Project) - Fitbit Dataset/weightLogInfo_merged.csv')

In [125]:
d1= data1.copy()
d2= data2.copy()
d3= data3.copy()
d4= data4.copy()
d5= data5.copy()

In [126]:
d1.sample()

             Id ActivityDay  Calories
628  6290855005   4/15/2016      2896

In [127]:
d2.sample()

,Id,ActivityDay,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance
506,4702921684,4/13/2016,777,258,0,0,0.0,5.58,0.0,0.0

In [128]:
d3.sample()

             Id ActivityDay  StepTotal
110  1844505072   4/30/2016       4014

In [129]:
d4.sample()

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
313,6962181067,4/19/2016,1,476,535

In [130]:
d5.sample()

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
30,6962181067,4/30/2016 23:59,61.0,134.48198,NaN,23.82,True,1.462060e+12

Data Profiling

In [131]:
d1.dtypes

Id              int64
ActivityDay    object
Calories        int64
dtype: object

In [132]:
d2.dtypes

Id                            int64
ActivityDay                  object
SedentaryMinutes              int64
LightlyActiveMinutes          int64
FairlyActiveMinutes           int64
VeryActiveMinutes             int64
SedentaryActiveDistance     float64
LightActiveDistance         float64
ModeratelyActiveDistance    float64
VeryActiveDistance          float64
dtype: object

In [133]:
d3.dtypes

Id              int64
ActivityDay    object
StepTotal       int64
dtype: object

In [134]:
d4.dtypes

Id                     int64
SleepDay              object
TotalSleepRecords      int64
TotalMinutesAsleep     int64
TotalTimeInBed         int64
dtype: object

In [135]:
print(d1.Id.nunique())
print(d1.ActivityDay.nunique())

33
31

In [136]:
print(d2.Id.nunique())
print(d2.ActivityDay.nunique())

33
31

In [137]:
print(d3.Id.nunique())
print(d3.ActivityDay.nunique())

33
31

In [138]:
print(d4.Id.nunique())
print(d4.SleepDay.nunique())

24
31

In [139]:
# Changing Date values into Date Format (dd/mm/yyyy)

d1['ActivityDay']= pd.to_datetime(d1['ActivityDay'])

d2['ActivityDay']= pd.to_datetime(d2['ActivityDay'])

d3['ActivityDay']= pd.to_datetime(d3['ActivityDay'])

d4['SleepDay']= pd.to_datetime(d4['SleepDay'])

In [140]:
d1.rename(columns={'ActivityDay':'Date'},inplace=True)
d2.rename(columns={'ActivityDay':'Date'},inplace=True)
d3.rename(columns={'ActivityDay':'Date'},inplace=True)
d4.rename(columns={'SleepDay':'Date'},inplace=True)

In [141]:
print(d1.dtypes)
print('----------------------------')
print(d2.dtypes)
print('----------------------------')
print(d3.dtypes)
print('----------------------------')
print(d4.dtypes)
print('----------------------------')

Id                   int64
Date        datetime64[ns]
Calories             int64
dtype: object
----------------------------
Id                                   int64
Date                        datetime64[ns]
SedentaryMinutes                     int64
LightlyActiveMinutes                 int64
FairlyActiveMinutes                  int64
VeryActiveMinutes                    int64
SedentaryActiveDistance            float64
LightActiveDistance                float64
ModeratelyActiveDistance           float64
VeryActiveDistance                 float64
dtype: object
----------------------------
Id                    int64
Date         datetime64[ns]
StepTotal             int64
dtype: object
----------------------------
Id                             int64
Date                  datetime64[ns]
TotalSleepRecords              int64
TotalMinutesAsleep             int64
TotalTimeInBed                 int64
dtype: object
----------------------------

Merging Datasets

In [142]:
m1= pd.merge(d1,d2,on=['Id','Date'], how='left')

In [143]:
m2= pd.merge(m1,d3, on=['Id','Date'], how='left')

In [144]:
Daily_Data=pd.merge(m2,d4, on=['Id','Date'], how='left')

In [145]:
Daily_Data.rename(columns={'StepTotal':'Steps'},inplace=True)
#d4.rename(columns={'SleepDay':'Date'},inplace=True)

In [146]:
Daily_Data.sample()

,Id,Date,Calories,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance,Steps,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
461,4445114986,2016-04-29,2196,1106,226,0,0,0.0,3.13,0.0,0.0,4676,1.0,106.0,108.0

In [147]:
desired_Order= ['Id','Date','Calories','Steps','VeryActiveMinutes','LightlyActiveMinutes','FairlyActiveMinutes','SedentaryMinutes','VeryActiveDistance','LightActiveDistance'
                ,'ModeratelyActiveDistance','SedentaryActiveDistance','TotalTimeInBed','TotalMinutesAsleep','TotalSleepRecords']
Daily_Data= Daily_Data[desired_Order]

In [148]:
Daily_Data.sample()

,Id,Date,Calories,Steps,VeryActiveMinutes,LightlyActiveMinutes,FairlyActiveMinutes,SedentaryMinutes,VeryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,SedentaryActiveDistance,TotalTimeInBed,TotalMinutesAsleep,TotalSleepRecords
473,4445114986,2016-05-11,2499,9105,34,232,22,622,2.25,2.86,1.0,0.0,530.0,499.0,1.0

In [149]:
Daily_Data.dtypes

Id                                   int64
Date                        datetime64[ns]
Calories                             int64
Steps                                int64
VeryActiveMinutes                    int64
LightlyActiveMinutes                 int64
FairlyActiveMinutes                  int64
SedentaryMinutes                     int64
VeryActiveDistance                 float64
LightActiveDistance                float64
ModeratelyActiveDistance           float64
SedentaryActiveDistance            float64
TotalTimeInBed                     float64
TotalMinutesAsleep                 float64
TotalSleepRecords                  float64
dtype: object

In [150]:
print(Daily_Data.Id.nunique())
print(Daily_Data.Date.nunique())

33
31

In [151]:
Daily_Data.to_csv('/content/drive/MyDrive/Prep Insta Winter Internship/Daily_Data.csv')