In [1]:
import pandas as pd
import numpy as np

In [2]:
data1= pd.read_csv('/content/drive/MyDrive/Prep Insta Winter Internship/Week 8 (Capstone Project) - Fitbit Dataset/heartrate_seconds_merged.csv')
data2= pd.read_csv('/content/drive/MyDrive/Prep Insta Winter Internship/Week 8 (Capstone Project) - Fitbit Dataset/hourlyCalories_merged.csv')
data3= pd.read_csv('/content/drive/MyDrive/Prep Insta Winter Internship/Week 8 (Capstone Project) - Fitbit Dataset/hourlyIntensities_merged.csv')
data4= pd.read_csv('/content/drive/MyDrive/Prep Insta Winter Internship/Week 8 (Capstone Project) - Fitbit Dataset/hourlySteps_merged.csv')
data5= pd.read_csv('/content/drive/MyDrive/Prep Insta Winter Internship/Week 8 (Capstone Project) - Fitbit Dataset/weightLogInfo_merged.csv')

In [3]:
d1= data1.copy()
d2= data2.copy()
d3= data3.copy()
d4= data4.copy()
d5= data5.copy()

In [4]:
d1.sample()

                Id           Time  Value
772898  4388161847  5/4/2016 1:06     52

In [5]:
d2.sample()

              Id          ActivityHour  Calories
2699  1844505072  5/4/2016 10:00:00 AM        64

In [6]:
d3.sample()

               Id          ActivityHour  TotalIntensity  AverageIntensity
20926  8792009665  4/21/2016 6:00:00 PM               0               0.0

In [7]:
d4.sample()

              Id         ActivityHour  StepTotal
6829  2873212765  5/6/2016 4:00:00 AM          0

In [9]:
d5.drop(columns=['LogId'], inplace=True)

In [10]:
d5.sample()

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport
53,8877689391,4/25/2016 6:40,85.400002,188.274775,NaN,25.559999,False

Data Profiling

In [11]:
d1.dtypes

Id        int64
Time     object
Value     int64
dtype: object

In [12]:
d2.dtypes

Id               int64
ActivityHour    object
Calories         int64
dtype: object

In [13]:
d3.dtypes

Id                    int64
ActivityHour         object
TotalIntensity        int64
AverageIntensity    float64
dtype: object

In [14]:
d4.dtypes

Id               int64
ActivityHour    object
StepTotal        int64
dtype: object

In [15]:
d5.dtypes

Id                  int64
Date               object
WeightKg          float64
WeightPounds      float64
Fat               float64
BMI               float64
IsManualReport       bool
dtype: object

In [16]:
print(d1.Id.nunique())
print(d1.Time.nunique())

7
43343

In [17]:
print(d2.Id.nunique())
print(d2.ActivityHour.nunique())

33
736

In [18]:
print(d3.Id.nunique())
print(d3.ActivityHour.nunique())

33
736

In [19]:
print(d4.Id.nunique())
print(d4.ActivityHour.nunique())

33
736

In [20]:
print(d5.Id.nunique())
print(d5.Date.nunique())

8
56

Merging DataSets

In [21]:
m1= pd.merge(d2,d3,on= ['Id','ActivityHour'],how='left')

In [22]:
Hour_Data= pd.merge(m1,d4,on= ['Id','ActivityHour'],how='left')

In [23]:
Hour_Data.sample()

,Id,ActivityHour,Calories,TotalIntensity,AverageIntensity,StepTotal
7649,3977333714,4/20/2016 12:00:00 AM,60,10,0.166667,358

In [24]:
Hour_Data.rename(columns={'StepTotal':'Steps'},inplace=True)

In [25]:
dcolumns= ['Id','ActivityHour','Calories','Steps','TotalIntensity','AverageIntensity']
Hour_Data= Hour_Data[dcolumns]

In [26]:
Hour_Data.sample()

,Id,ActivityHour,Calories,Steps,TotalIntensity,AverageIntensity
14482,6117666160,4/29/2016 2:00:00 AM,62,0,0,0.0

In [27]:
Hour_Data.to_csv('/content/drive/MyDrive/Prep Insta Winter Internship/Hourly_Data.csv')

Merging Data of weight & Heartrate

In [47]:
d1.rename(columns={'Time':'Date'}, inplace=True)

In [48]:
d1.sample()

                Id            Date  Value
314401  4020332650  4/12/2016 3:21     59

In [49]:
m2= pd.merge(d1,d5,on=['Id','Date'], how='left')

In [50]:
m2.rename(columns={'WeightKg':'Weight(Kg)','WeightPounds':'Weight(Pounds)'},inplace=True)
m2.drop(columns=['IsManualReport'], inplace=True)

In [51]:
m2.sample()

,Id,Date,Value,Weight(Kg),Weight(Pounds),Fat,BMI
249394,2347167796,4/22/2016 17:12,75,NaN,NaN,NaN,NaN

In [53]:
m2.to_csv('/content/drive/MyDrive/Prep Insta Winter Internship/Heart & Weight_Data.csv')